page-shops-list {
    ion-navbar {
        .back-button {
            padding-left: 16px;
        }
        .toolbar-background {
            background-color: color($colors, white);
        }
        .edit-address {
            width: 12px;
        }
        .navbar-header {
            margin-left: 10px;
            display: flex;
            justify-content: space-between;
            margin-right: 16px;
            margin-bottom: 4px;
            align-items: center;
        }
        .header-address {
            &-label {
                margin-bottom: 4px;
            }
            &-line {
                color: color($colors, orange);
                font-size: 1.7rem;
            }
        }
        .header-right-area {
            img {
                margin: 4px 0 4px 8px;
                width: 24px;
            }
        }
    }
    #shops-list {
        background-color: color($colors, light);
        ion-list {
            box-shadow: 0 0 6px 1px color($colors, grey);
        }
        ion-label {
            margin: 0;
        }
        .shop-item-name-next {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}